<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="">      
      <table>
        <thead>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acción</th>
        </thead>
        <tbody>
          <% for(let i = 0; i< posts.length ; i++) { %> 
            <tr>
              <td><%= posts[i].postName %> </td>
              <td><%= posts[i].postContent %> </td>
              <td><form method="post" action="/delete">
                <input name="id" type="number" value="<%= posts[i].id %>" hidden>
                <button type="submit">Eliminar</button>
              </form></td>

            </tr>
          <% } %>
        </tbody>
      </table>
      <form method="post" action="create">
        <input name="name" type="text">
        <input name="description" type="text">
        <button type="submit">Crear</button>
      </form>
    </div>
  </body>
</html>
